<div class="dashboard-container">
  <div class="buttons-container">
    <a href="/comments" class="button">Comments</a>
    <a href="" class="button">Previous Posts</a>
  </div>
  <div class="profile-container">
    <img class="profile-pic" src="/public/images/generic-profile-pic.png" alt="Profile Image" />
    <h2>Username:</h2>
    <p>Email:</p>
  </div>
</div>

<script src="/js/dashboard.js"></script>